<div class="horizontal-scroll">
    <table class="table table-hover">
        <thead>
        <tr>
            <th class="align-right">#</th>
            <th class="align-right">平台编号</th>
            <th class="align-right">平台密钥</th>
            <th class="align-right">状态</th>
            <th class="align-right">操作</th>
        </tr>
        </thead>
        <tr ng-repeat="item in data.list">
            <td class="align-right">{{item.id}}</td>
            <td class="align-right">{{item.agency_no}}</td>
            <td class="align-right">{{item.agency_key}}</td>
            <td class="align-right">{{item.status == 0?"创建":item.status == 1?"正常":item.status == 2?"禁用":"-"}}
            </td>
            <th class="align-right">
                <a href="javascript:void(0)" ng-click="switchStatus({{item.id}},{{item.status == 1?2:1}})">{{item.status == 1?"禁用":"启用"}}</a>
                <a href="javascript:void(0);" ng-click="deleteAgency(item.id)">删除</a>
                <a href="#/agency/new/edit/{{item.id}}">编辑</a>
            </th>
        </tr>
        <tfoot>
        <tr>
            <td colspan="7" class="text-center">

            </td>
        </tr>
        </tfoot>
    </table>
</div>