<div class="widgets">
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label for="mch_no">用户ID</label>
                <input type="text" ng-model="param.user_id" class="form-control" id="user_id" placeholder="">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="mch_name">流水号</label>
                <input type="text" ng-model="param.trade_ref_id" class="form-control" id="trade_ref_id" placeholder="">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="mch_name">关联编号</label>
                <input type="text" ng-model="param.trade_ref_code" class="form-control" id="trade_ref_code" placeholder="">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="order_no">发生日期</label>
                <div class="input-daterange input-group" id="datepicker">
                    <input ng-dblclick="clearDate()" ng-click="selectDate()" type="text" ng-model="param.start"
                           id="start" class="form-control" name="start"/>
                    <span class="input-group-addon">到</span>
                    <input ng-dblclick="clearDate()" ng-click="selectDate()" type="text" ng-model="param.end" id="end"
                           class="form-control" name="end"/>
                </div>
            </div>
            <div ng-show="showDatePicker" id="myPicker" style="position: absolute;z-index: 100;border:1px solid #000">
                <div>
                    <ul class="btn-list clearfix">
                        <li>
                            <button title="关闭" ng-click="closeDatePicker()" type="button"
                                    class="btn btn-primary btn-icon"><i class="ion-ios-close-outline"></i></button>
                        </li>
                        <li>
                            <button title="清空" ng-click="clearDate()" type="button" class="btn btn-primary btn-icon"><i
                                    class="ion-loop"></i></button>
                        </li>
                    </ul>
                </div>
                <div date-range id="pickerRange" start="query.start" end="query.end" date-change="changeDate"
                     view="date" min-view="date" timezone="UTC"></div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="status">变动类型</label>
                <select class="form-control" id="trade_type" ng-model="param.trade_type" title="变动类型" data-style="btn-primary" data-container="body" selectpicker>
                    <option value="">全部</option>
                    <option value="recharge">充值</option>
                    <option value="consume">消费</option>
                </select>
            </div>
        </div>
        <div class="col-md-1">
            <label></label>
            <div class="button-wrapper"><button type="button" ng-click="queryBtn()" class="btn btn-primary  btn-sm">查询</button></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-title="用户账户列表" ba-panel-class="with-scroll">
                <div include-with-scope="app/pages/trade/coin/table.html"></div>
            </div>
        </div>
    </div>
</div>